@model IEnumerable<string>

<div>
    <div class="row" id="imageList">
        @if (Model != null && Model.Any())
        {
            foreach (var image in Model)
            {
                <div class="col-sm-6 col-md-3 img-container">
                    <img class="img-thumbnail" src="@image" alt="">
                    <button class="btn btn-remove-image btn-info" data-image="@image">Remove</button>
                </div>
            }
        }
    </div>

    <div class="row">
        <div>
            <strong>Add image</strong>:
            <br />
            <span class="input-control text">
                <input type="file" id="file" name="file" />
            </span>
        </div>
        <div id="output">

            <strong>File Properties:</strong>
            <br />
            <p>
                Name: <span id="fileName"></span>
            </p>
            <p>
                File Size: <span id="fileSize"></span> bytes.
            </p>
            <p>
                File Type: <span id="fileType"></span>
            </p>
            <p>
                <button class="btn btn-primary btn-add-image">Upload</button>
            </p>
            <p>
                <strong>Progress</strong>: <span id="fileUploadProgress">0.00 %</span>
            </p>
        </div>
    </div>
    
</div>
