@model IEnumerable<string>

<div>
    <div class="row">
        @if (Model != null && Model.Any())
        {
            foreach (var image in Model)
            {
                <div class="col-sm-6 col-md-3 img_container">
                    <img class="img-thumbnail" src="@image" alt="">
                    <button class="btn btn_remove_image btn-info" data-image="@image">Remove</button>
                </div>
            }
        }
    </div>

    <button class="btn btn-primary">Add image</button>
</div>
